html {
  height: 800px;
}
nav {
  display: flex;
  flex-direction: row;
  background-color: #1f1f3d;
  height: 50px;
  align-items: center;
}
h1 {
  color: #FFFFFF;
  font-family: "open-sans", sans-serif;
  font-size: 35px;
  margin: 50px 10px 50px 7px;
}
span {
  color: #FFC30C;
}
.col1 {
  background-color: #587A8A;
}
.task-input-section {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 315px;
}
main {
  display: flex;
  flex-direction: row;
}
#search-button {
  width: 40px;
}
.search {
  align-items: flex-end;
  margin-left: 800px;
}
.task-info {
  color: white;
  font-family: "open-sans", sans-serif;
}
.task-input {
  width: 200px;
  margin-left: 15px;
  padding: 12px;
}
.task-input-button {
  background-color: #1F1F3D;
  border: none;
  font-family: "open-sans", sans-serif;
  color: #FFFFFF;
  width: 200px;
  font-size: 15px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;usd
}
.urgency-section {
  height: 400px;
  margin-top: 15px;
}
#unchecked-box {
  width: 20px;
}
#show-task-item {
  color: #FFFFFF;
  font-family: "open-sans", sans-serif;
}
